@model  ICollection<DesafioSonda.Services.DTOs.ClientesDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Clientes</h4>

<div class="text-right">
    <a class="btn btn-link" href="@Url.Action("Adicionar", "Clientes")" role="button">Adicionar</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Data Nasc.</th>
                <th scope="col">Sexo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
            <tr>
                <td>
                    @cliente.Nome
                </td>
                <td>
                    @cliente.Cpf
                </td>
                <td>
                    @cliente.DataNascimento.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @cliente.Sexo
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-link"  href="@Url.Action("Atualizar", "Clientes", new { id = cliente.Identificador })" role="button">Atualizar</a>
                        <a class="btn btn-link" href="@Url.Action("Remover", "Clientes", new { id = cliente.Identificador })" role="button">Remover</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

